

body{
    display: flex;
    justify-content: center;
    background: linear-gradient( 90deg,#d696f4, #9155F0);
}

.container {
    width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(227, 229, 75, 0.5);
    display: flex;
    flex-direction: column; /* vertical stack */
    align-items: center;    /* center horizontally */
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 1rem;
    margin-top: 2rem;
}

.small-box {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 10px;  
    /* margin-bottom: 10px; */
}



button {
    padding: 5px 10px;
    background-color: #9155F0;
    border: none;
    color: white;
}

select {
    font-size: 8px;
  field-sizing: content;
  width: auto; /* fallback ke saath use karein */
  /* background-color: #9155F0; */
 
}

.select-tag {
    width: 60px;
    display: flex;
    justify-content: flex-end;
}

.listBox{
    width: 280px;
    max-height: 195px;
    overflow-y: scroll;
}

/* .mic{
    height: 0px;
    background-color: #9155F0;
    border-radius: 50%;
} */

.mic {
  width: 25px;
  height: 25px;
  background-color: #9155F0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 18px;
}

.mic:hover {
  background-color: #7b46cf;
}

.inputContainer{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
} 


input[type="text"]{
   border: 0.5px solid rgb(202, 196, 196);
   border-radius: 2px;
   margin-top: 20px;
}

#add-task{
    margin-top: 1rem;
}

.task{
    display: flex;
    /* align-items: center; */
    font-size: 2 rem;
    color: black;
    margin-bottom: 5px;
}

.task:hover{
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

input[type="checkbox"]{
    accent-color: green;
    transform: scale(1.5);
    /* margin-right: 2px; */
    margin: 4px 2px 0px 2px;
    height: 18px;

}

input[type="checkbox"]:hover{
    cursor: pointer;
}

label.text{
    border: 1px solid black;
}

#empty-box{
    display: none;
}


.task-box{
    width: 200px;
    overflow-x:auto;
    border:0.5px solid rgb(199, 193, 193);
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    padding: 2px;
    background-color: #f1f1f1;
    gap: 2px;
    margin-right: 5px;
    /* margin-left: 5px; */
}

.hide-node{
    display: none;
}

.edit-icon{
    background-color: #9155F0;
    margin-right: 5px;
    padding: 2px;
    border-radius: 4px;
    height: 19px;
}

/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
html, body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     /* Firefox */
}

